{
  "root": true,
  "parserOptions": {
    "ecmaVersion": 2021,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jsx-a11y/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prettier/prettier": ["error", {}, { "usePrettierrc": true }],
    "react/prop-types": 0,
    "react/react-in-jsx-scope": 0,
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["hrefLeft", "hrefRight"],
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "simple-import-sort/imports": [
      2,
      {
        "groups": [
          ["^\\u0000"],
          ["^react(/.*|$)$"],
          ["^next(/.*|$)$"],
          ["^aws-amplify(/.*|$)$"],
          ["^@aws-amplify(/.*|$)$"],
          ["^@material-ui(/.*|$)$"],
          ["^@?\\w"],
          ["^src(/.*|$)"],
          ["^\\."]
        ]
      }
    ],
    "simple-import-sort/exports": 2,
    "sort-imports": 0,
    "import/order": 0
  },
  "plugins": ["simple-import-sort"]
}
